.cvsignore
CVS
Makefile
Makeconf.setup
autom4te.cache
coda_config.h
config.h
config.h.in
config.log
config.status
configure
include
*.[ado]
chdrinstall
rp2hdrinstall
*.client.c
*.multi.c
*.print.c
*.server.c
