.cvsignore
.deps
.dotest
CVS
Makefile
Makefile.in
README
autom4te.cache
aclocal.m4
coda_config.h
config.h
config.h.in
config.guess
config.sub
config.log
config.status
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
rp2gen.stamp
stamp-h1
tags
*.[ao]
*.l[ao]
*.client.c
*.multi.c
*.print.c
*.server.c
*.orig
*.swp
*~
