.cvsignore
.dotest
CVS
Makefile
Makeconf.setup
autom4te.cache
chdrinstall
coda_config.h
config.h
config.h.in
config.log
config.status
configure
include
rp2hdrinstall
tags
*.[ado]
*.client.c
*.multi.c
*.print.c
*.server.c
*.orig
*.swp
*~
