ChangeLog
Makefile
Makefile.in
aclocal.m4
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
install-stamp
libtool
ltconfig
ltmain.sh
mkinstalldirs
missing
stamp-h
stamp-h.in
