Source: rpc2
Section: devel
Priority: optional
Maintainer: Jan Harkes <jaharkes@cs.cmu.edu>
Standards-Version: 3.0.1
Build-Depends: debhelper, dpkg-dev, gcc, liblwp-dev, flex, bison

Package: librpc2-dev
Architecture: arm i386 m68k powerpc sparc
Depends: librpc23 (= ${Source-Version}), libc6-dev
Description: Remote procedure call library, development files
 RPC2 is a remote procedure call library developed at CMU. It is layered
 on top of UDP sockets and is used by the Coda distributed filesystem
 .
 This package contains the required libraries and headers and support
 programs to develop applications that use RPC2.
 .
 For more information, check the Coda website http://www.coda.cs.cmu.edu/

Package: rpc2-tools
Architecture: arm i386 m68k powerpc sparc
Depends: ${shlibs:Depends}
Conflicts: librpc23 (<< 1.7-1)
Description: Remote procedure call library - support tools
 RPC2 is a remote procedure call library developed at CMU. It is layered
 on top of UDP sockets and is used by the Coda distributed filesystem
 .
 This package contains filcon, a tool that can be used to manipulate
 connections of programs linked against the libfail library.
 .
 For more information, check the Coda website http://www.coda.cs.cmu.edu/

Package: librpc23
Architecture: arm i386 m68k powerpc sparc
Depends: ${shlibs:Depends}
Recommends: rpc2-tools
Description: Remote procedure call library
 RPC2 is a remote procedure call library developed at CMU. It is layered
 on top of UDP sockets and is used by the Coda distributed filesystem
 .
 This package contains the run-time libraries needed for applications that
 use RPC2.
 .
 For more information, check the Coda website http://www.coda.cs.cmu.edu/

