#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input medium coda/realm || true
db_input medium coda/cachesize || true

modprobe coda 2>/dev/null || true
if [ ! -c /dev/cfs0 -a ! -c /dev/coda/0 ] ; then
    db_input low coda/cfs0 || true
    ( cd /dev ; ./MAKEDEV cfs0 )
fi
db_go

if [ "$1" = reconfigure ] ; then
    db_get coda/realm
    codaconfedit venus.conf realm "$RET"
    db_get coda/cachesize
    codaconfedit venus.conf cacheblocks "$RET"
fi

