#!/bin/sh -e

. /usr/share/debconf/confmodule

db_input medium coda/rootservers || true
db_input medium coda/cachesize || true

/sbin/modprobe coda 2>/dev/null || true
if [ ! -c /dev/cfs0 -a ! -c /dev/coda/0 ] ; then
    db_input high coda/cfs0 || true
fi
db_go

if [ "$1" = reconfigure ] ; then
    db_get coda/rootservers
    codaconfedit venus.conf rootservers "$RET"
    db_get coda/cachesize
    codaconfedit venus.conf cacheblocks "$RET"
fi

