Source: coda
Section: net
Priority: optional
Maintainer: Jan Harkes <jaharkes@cs.cmu.edu>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4), g++, liblwp-dev (>= 2.5), librpc2-dev (>= 2.8), librvm-dev (>= 1.16), rvm-tools, libreadline5-dev, libncurses5-dev, libfltk1.1-dev, flex, bison | byacc, fluid, pkg-config, python2.5-minimal | python2.4-minimal

Package: coda-client
Architecture: amd64 arm i386 m68k powerpc sparc
Depends: ${shlibs:Depends}
Suggests: python-gtk2
Pre-Depends: debconf (>= 0.2.17)
Description: Client for the Coda distributed file system
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the userspace binaries to run a Coda client. You might
 also need to recompile a linux kernel to include a kernel module for Coda.
 .
 For more information go to http://www.coda.cs.cmu.edu/

Package: coda-server
Architecture: amd64 arm i386 m68k powerpc sparc
Depends: coda-update, rvm-tools, ${shlibs:Depends}
Description: Server for the Coda distributed file system
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the binaries to set up a Coda server.
 .
 For more information see http://www.coda.cs.cmu.edu/

Package: coda-update
Architecture: amd64 arm i386 m68k powerpc sparc
Depends: ${shlibs:Depends}
Description: Server for the Coda distributed file system
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the update daemons needed on both the Coda servers and
 the Coda backup client.
 .
 For more information see http://www.coda.cs.cmu.edu/

Package: coda-backup
Architecture: amd64 arm i386 m68k powerpc sparc
Depends: coda-update, ${shlibs:Depends}
Description: Backup client for the Coda distributed filesystem
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides the binaries to set up a backup client to back up Coda
 servers.
 .
 For more information see http://www.coda.cs.cmu.edu/

Package: coda-vcodacon
Architecture: amd64 arm i386 m68k powerpc sparc
Depends: coda-client, ${shlibs:Depends}
Description: Graphical console for the Coda distributed filesystem client
 Coda is an advanced distributed filesystem. It has been developed at CMU
 by the systems group of M. Satyanarayanan in the SCS department.
 .
 This package provides vcodacon, a graphical console to monitor the activity
 of the Coda client.
 .
 For more information see http://www.coda.cs.cmu.edu/

