[Unit]
Description=Coda Master Authentication Server (SCM)
ConditionPathExists=/vice/db/auth2.tk

[Service]
Type=forking
PIDFile=/vice/auth2/pid
ExecStart=@SBINDIR@/auth2

[Install]
WantedBy=multi-user.target
