[Unit]
Description=Coda File Server
ConditionPathExists=/etc/coda/server.conf
ConditionPathExists=!/vice/srv/CRASH

[Service]
Type=forking
PIDFile=/vice/srv/pid
ExecStart=/usr/sbin/startserver

[Install]
WantedBy=multi-user.target
