[Unit]
Description=Coda Cache Manager

[Service]
Type=notify
ExecStartPre=/usr/sbin/vutil --swaplogs
ExecStart=/usr/sbin/venus --systemd
ExecStop=/bin/umount /coda

[Install]
WantedBy=multi-user.target
