[Unit]
Description=Coda Update Slave Server
ConditionPathExists=/vice/db/scm

[Service]
Type=forking
PIDFile=/vice/misc/updateclnt.pid
ExecStart=/usr/sbin/updateclnt

[Install]
WantedBy=multi-user.target
Alias=coda-update.service
