[Unit]
Description=Coda File Server
ConditionPathExists=@SYSCONFDIR@/server.conf
ConditionPathExists=!/vice/srv/CRASH

[Service]
Type=forking
PIDFile=/vice/srv/pid
ExecStart=@SBINDIR@/startserver
TimeoutSec=300

[Install]
WantedBy=multi-user.target
