[Unit]
Description=Coda Update Master Server
ConditionPathExists=/vice/db/scm
After=network.target

[Service]
Type=forking
PIDFile=/vice/misc/updatesrv.pid
ExecStart=@SBINDIR@/updatesrv

[Install]
WantedBy=multi-user.target
Alias=coda-update.service
